body {
    background-image: url("/images/success-background.svg");
    background-position: center;
    background-size: cover;
    background-color: var(--color-primary-darker);
}
#page-success #container {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: auto 0;
    text-align: center;
}
#page-success #container span {
    width: 15rem;
    height: 15rem;
    display: inline-block;
    background-image: url("/images/icons/success-check-icon.svg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
#page-success #container h2 {
    color: var(--color-title-in-primary);
}
#page-success #container h5 {
    color: var(--color-text-in-primary);
}


